/** 下面是flex的公共方法*/

//弹性盒子

.flex {
    display: -webkit-flex;
    /* Safari */
    display: flex;
}

//垂直居中
.flex-center {
    align-items: center;
    justify-content: center;
}

.red {
    background: #f00;
    color: #fff;
}

.flex-around {
    justify-content: space-around;
}
.flex-between {
    justify-content: space-between;
}